html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .card {
  background-color: #c1d0e4;
  border-radius: 25px;
  padding: 0;
}
.container .product-card {
  max-width: 200px;
  margin: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 100, 0.05);
  cursor: pointer;
}
.container .product-card .product-header {
  max-height: 150px;
}
.container .product-card .product-picture {
  position: relative;
  top: -70px;
  width: 105%;
  left: -2.5%;
}
.container .product-card .card-details {
  background-color: white;
  border-radius: 25px;
  padding: 15px;
}
.container .product-card .card-details .product-name {
  font-weight: 500;
  font-size: 13pt;
  margin: 0;
}
.container .product-card .card-details .stars {
  color: #ffd145;
  font-size: 8pt;
  margin: 5px 0 30px 0;
}
.container .product-card .card-details .stars .fas {
  margin-right: 1px;
}
.container .product-card .card-details .bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .product-card .card-details .bottom-row .price {
  font-size: 13pt;
  margin: 0;
}
.container .product-card .card-details .bottom-row .add-cart {
  width: 32px;
  height: 32px;
  background-image: linear-gradient(120deg, #5558da 0%, #5fd1f9 100.2%);
  font-size: 10pt;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

@media (min-width: 180px) and (max-width: 650px) {
  .container {
    width: 100%;
  }
  .container .product-card {
    max-width: 30%;
    margin: 5px;
  }
  .container .product-card .product-header {
    max-height: 100px;
  }
  .container .product-card .product-header .product-picture {
    position: relative;
    top: -50px;
    height: 150px;
    width: 150px;
    left: calc(50% - 75px);
  }
  .container .product-card .card-details .product-name {
    font-size: 11pt;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .container .product-card .card-details .stars {
    color: #ffd145;
    margin: 5px 0 15px 0;
    font-size: 7pt;
  }
  .container .product-card .card-details .bottom-row .price {
    font-size: 10pt;
  }
}